<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="exemplaire">
            <h2><span>Exemplaire</span> {{ exemplaire.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Disponibilite</span></dt>
                <dd>
                    <span>{{ exemplaire.disponibilite }}</span>
                </dd>
                <dt><span>Livre</span></dt>
                <dd>
                    <div *ngIf="exemplaire.livre">
                        <a [routerLink]="['/livre', exemplaire.livre?.id, 'view']">{{ exemplaire.livre?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/exemplaire', exemplaire.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
