<div class="row">
    <div class="col-md-3">
        <span class="hipster img-fluid rounded"></span>
    </div>

    <div class="col-md-9">
        <h1 class="display-4">Bienvenu dans notre Bibliothèque</h1>
        <span>Connectez-vous pour avoir accès</span>

        <div [ngSwitch]="isAuthenticated()">
            <div class="alert alert-success" *ngSwitchCase="true">
                <span id="home-logged-message" *ngIf="account">Vous êtes connecté en tant que : {{ account.login }}.</span>
                <button type="button" routerLink="biblio/search" class="btn btn-outline-warning btn-lg btn-block">Allez dans Bibliothèque</button>
            </div>

            <div class="alert alert-warning" *ngSwitchCase="false">
                <button type="button" (click)="login()" class="btn btn-outline-warning btn-lg btn-block">Connexion</button>
            </div>

            <div class="alert alert-warning" *ngSwitchCase="false">
                <button type="button" routerLink="account/register" class="btn btn-outline-warning btn-lg btn-block">Inscription</button>
            </div>
        </div>


        <p>
            <span>Si vous aimez notre projet, n'oubliez pas de nous donner une étoile sur</span> <a href="https://github.com/dassoukhi/biblio/" target="_blank" rel="noopener noreferrer">GitHub</a>!
        </p>
    </div>
</div>
